
h1{
  font-size: 24px;
}

.vote{
  width:128px;
  height:32px;
  font-size: 13px;
  padding:2px 16px 3px;
}

.chartbar{
  width:100%;
  margin-top:80px;
  padding:0 360px;
}

.chartbar__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chartbar__gender{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.chartbar__female{
  width:50%;
}

.chartbar__male{
  width:50%;
}


.item{
  display:flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-white-10);
  padding:8px 0px;
}

#rank9{
  border-style:none;
}

#rank10{
  border-style:none;
}

/* #bottomRank{
  border-style:none;
  padding-bottom: 0px;
} */

.container {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: repeat(5,20%);
  grid-gap:0px 24px;
}

.viewMore{
  display:flex;
  margin:0 auto;
  margin-top:51px;
  border-radius: 3px;
  color:var(--color-white-50);
  background-color: var(--color-white-10);
  font-size: 14px;
  padding: 8px 143px;

}


/* Tablet */
@media screen and (max-width: 1199px) {
  .chartbar{
    width:100%;
    padding:0px 24px 0px 20px;
  }  


}


   
/* Mobile */
@media screen and (max-width: 767px) {
  .charbar{
    width:100%;
    padding: 0px 24px;
  }
}


