.mypage {
  width: 1260px;
  margin: 0 auto;
}

.mypage,
.p {
  cursor: default;
}

.myidol {
  margin-bottom: 42px;
}

.mypage-myidol__empty {
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 200px;
  padding: auto;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 24px;
}

.mypage-myidol__container {
  display: flex;
  gap: 24px;
  z-index: 1;
}

.mypage-myidol__items {
  grid-column: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 160px;
}

.mypage-myidol_minus {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.mypage-myidol_minus-button {
  margin: 0 auto;
}

.mypage-addidol_minus {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px auto;
}

.mypage__title {
  margin-top: 40px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.mypage-addidol__container-inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}

.mypage-addidol__items {
  grid-column: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 128px;
}

.mypage__items-name {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 700;
}

.mypage__items-group {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
}

.mypage-addidol_add {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px auto;
}

.mypage__caretButton {
  display: flex;
}

/* Tablet */
@media screen and (max-width: 1199px) {
  .mypage {
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
  }

  .mypage-addidol__container-inner {
    width: 584px;
    padding: 0 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .mypage-addidol__container-inner {
    width: 584px;
    padding: 0 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
  }

  .mypage-addidol__items {
    grid-column: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98px;
  }

  .mypage-myidol__items {
    grid-column: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
  }
}
