/* 연예인 투표 모달 */

.content {
  width: 100%;
  height: 50vh;
  min-width: 32vw;
}

.ProfileContainer {
  display: flex;
  justify-content: space-between;
  width: 32vw;
  height: 70px;
  align-items: center;
}

.lanking {
  display: flex;
  flex-direction: column;
  color: #f96d69;
  align-items: center;
  padding: 0 16px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  color: white;
  size: 14px;
  gap: 4px;
}

.profileBox {
  display: flex;
  height: 70px;
  align-items: center;
}

.profileVotes {
  color: #ffffff99;
  size: 14px;
}

.notification {
  display: block;
  color: white;
  font-size: 12px;
  text-align: center;
  margin: 12px 0 -20px;
  line-height: 26px;
}

.credit {
  color: #f96d69;
}

.areaLine {
  border-bottom: 1px solid #ffffff1a;
  margin: 8px 0;
}

/*모달 open, close style*/
.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* Tablet */
@media screen and (max-width: 1199px) {
  .ProfileContainer {
    width: 50vw;
  }
}

/* 모바일 사이즈 */
@media (max-width: 768px) {
  .ProfileContainer {
    width: 100%;
  }

  .Contents {
    width: 100%;
    height: 100%;
  }

  .content {
    width: 100%;
    height: 100%;
  }
}
