/*인풋 number 타입 설정 시 발생하는 숫자 버튼 제거*/
input::-webkit-inner-spin-button {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

/*연예인 후원하기 모달*/
.donationContainer {
	background-color: #181026;
	width: 327px;
	padding: 24px 16px 32px;
	border-radius: 8px;
	color: white;
}

.donationTop {
	display: flex;
	justify-content: space-between;
	text-align: center;
	font-size: 18px;
	width: 100%;
	height: 24px;
	color: white;
	margin-bottom: 19px;
}

.donationBody {
	width: 100%;
}

.donationImg {
	display: block;
	width: 158px;
	height: 206px;
	margin: 0 auto;
}

.adTitle {
	width: 158px;
	color: #67666e;
	font-size: 12px;
	display: block;
	margin: 10px auto 24px;
	color: white;
	font-size: 14px;
}

.adTitle > span {
	display: block;
}

.adWhere {
	color: #67666e;
	margin-bottom: 6px;
}

.creditInputBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	margin-bottom: 24px;
	background-color: #181026;
	border-radius: 8px;
	height: 58px;
	border: 1px solid white;
	box-sizing: border-box;
}

.creditInputBox > img {
	width: 24px;
	height: 24px;
}

.creditInput {
	height: 20px;
	width: 100%;
	font-size: 20px;
	color: white;
	border: none;
	background-color: #181026;
	outline: none;

	::placeholder {
		color: #67666e;
	}
}

.donationButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 42px;
	background-color: #828282;
	color: white;
	border-radius: 3px;
	margin-top: 24px;
}
